* {
    box-sizing: border-box;
}

body {
    background-color: #00ADB5;
    color: #222831;
    text-align: center;
}

table{
    margin: auto;
}

.cell {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid #000000;

}

.board-container {
    width: 590px;
    height: 580px;
    
    background-color: #EEEEEE;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 0px 10px 1px #000000;
}

.board-container table{
    margin: auto;
}

.hidden {
    transition-duration: 1s;
    /* color: rgb(128, 213, 49); */
    display: none;
}


.info-section{
    width: 590px;
    height: 600px;
    padding: 10px 0px;
    /* height: 600px; */
    background-color: #EEEEEE;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 1px 0px 10px 1px #000000;

}

.smiley{
    height: 90px;
    width: 90px;
    /* background-color: #FFFFFF; */
    margin: auto;
    font-size: 70px;
    border-radius: 90px;
    box-shadow: 1px 0px 10px 1px #000000;

}

.lives{
    height: 50px;
    width: 150px;
    background-color: #EEEEEE;
    margin: 10px auto;
    box-shadow: 1px 0px 10px 1px #000000;
}

.lives img{
    width: 50px;
}

.levels button{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 1px 0px 10px 1px #000000;
}

button:hover{
    background-color: #c1c1c1;
    transition-duration: 0.5s;
}

.hints{
    height: 60px;
    width: 300px;
    background-color: #EEEEEE;
    margin: 20px auto;
}

.hints button{
    font-size: 30px;
    width: 60px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 1px #000000;
}

.hinted{
    transition-duration: 1s;
    background-color: lightgreen;
}

.panted{
    background-color: lightsalmon;
}


.safe-click{
    height: 75px;
    width: 150px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 10px;
}

.safe-click button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 0px 10px 1px #000000;
}

.safe-click p{
    height: 20px;
    margin: 5px;
}


.manually-create{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 1px 0px 10px 1px #000000;
}
